from flask import Blueprint, render_template

{{ blueprintname }} = Blueprint('{{ blueprintname }}', __name__)

@{{ blueprintname }}.route('/')
def {{ blueprintname }}main():
    return render_template('{{ blueprintname }}main.html')
